<div class="clear-content-area mb-3">
  <div class =" d-none d-md-block">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['current']" routerLinkActive="active" [translate]="'ClassesLocal.CurrentClasses'" ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['all']" routerLinkActive="active" [translate]="'ClassesLocal.AllClasses'" ></a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
